<div id="box">
  <h1>OB<span style="color:#bbbbbb">ELISK</span></h1>
  
  <h2>Info</h2>
  <p>pěší (P), MTBO (B), lyžařský (L), horský (H)</p>
  <p>tento týden (červená), příští (žlutá), později (modrá)</p>

  <% if Event.without_location.future.any? %>
    <h2>Nejsou na mapě:</h2>
    <table>
      <% Event.without_location.future.each do |event| %>
        <tr>
          <td><%= event.date.strftime("%d. %m. %Y") %>/<%= event.club %></td>
          <td><%= event.name %></td>
          <td><%= event.kind%></td>
          <td>
            <% unless event.homepage.blank? %>
              <a href="<%= event.homepage %>">home</a>
            <% end %>
            <% unless event.obhana_register_url.blank? %>
              (OB HANÁ: <a href="<%= event.obhana_register_url %>">přihlásit se</a> 
              | <a href="<%= event.obhana_info_url %>">informace</a>)
            <% end %>  
          </td>
        </tr>
      <% end %>  
    </table>
  <% end %>  
</div>


<script>
  $(function(){

    var mapOptions = {
      center: new google.maps.LatLng(49.851152, 15.212694),
      zoom: 9,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
        
    var open_info_window = null;    

    <% Event.location_grouped(Event.with_location.future).each do |events| %>
      var marker<%=events.first.id%> = new google.maps.Marker({
          position: new google.maps.LatLng(<%=events.first.lat%>,<%=events.first.lng%>),
          map: map,
          icon: 'assets/markers/<%=events.first.color%>_Marker<%=events.first.letter%>.png',
          title:"<%= events.first.name %>"
      });
      
      contentString = 
        '<div class="event_info_window">'
        <% events.each do |event| %>
        + '<span class="date"><%= event.date.strftime("%d. %m. %Y") %></span>' 
        + '  [<%= event.club %>]' 
        + '<br /><%= event.name %> (<%=event.kind%>)<br /><%= event.place%><br />' 
        <% unless event.homepage.blank? %>
        + '<br /><a href="<%= event.homepage %>">homepage</a>' 
        <% end %>
        <% unless event.obhana_register_url.blank? %>
        + '<br /><a href="<%= event.obhana_register_url %>">přihlásit se</a>' 
        + ' | <a href="<%= event.obhana_info_url %>">informace</a> (OB HANÁ)' 
        <% end %>
        + '<br /><br />'
        <% end %>
        + '</div>';

      var infowindow<%=events.first.id%> = new google.maps.InfoWindow({
          content: contentString
      });

      google.maps.event.addListener(marker<%=events.first.id%>, 'click', function() {
        if (open_info_window) { open_info_window.close(); }
        if (open_info_window == infowindow<%=events.first.id%>) {
          open_info_window = null;
        } else {
          infowindow<%=events.first.id%>.open(map,marker<%=events.first.id%>);
          open_info_window = infowindow<%=events.first.id%>;          
        }
      });
    <% end %>
    
    // var map = new google.maps.Map(document.getElementById("map"), {
    //   center: new google.maps.LatLng(1),
    //   zoom: 8});
    // 
    //   window.alert("!"+map);
    // // // Monitor the window resize event and let the map know when it occurs
    // // if (window.attachEvent) { 
    // //   window.attachEvent("onresize", function() {this.map.onResize()} );
    // // } else {
    // //   window.addEventListener("resize", function() {this.map.onResize()} , false);
    // // }
    // 
  });
</script>